/**
 * Author: bebo
 * Filename: dwarves.main.css
 * Description: main style override for the lnp dwarf fortress page
 * */

html, body {
    font-family:Helvetica, Arial , sans-serif;
    color:#333;
    padding: 0px;
    margin: 0px;
}   

body {
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f2f2f2 100%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f2f2f2 100%);
    background: radial-gradient(ellipse at center,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 );
    height: 100%;
    min-height: 460px;
}

#content {}
#header {}
#update {}

ul {
  list-style:none;
  padding-left:0;
}

ul.list {
  list-style: unset;
}

.by-line {
  font-size: 70%;
}
